.subject {
    background-color: $brand-primary;

    &:hover {
        background-color: lighten($brand-primary, 10%);
        & > b:after {
            border-left-color: lighten($brand-primary, 10%);
        }
    }

    & > b {
        &%pseudo {
            border: {
                color: transparent transparent transparent $brand-primary;
            }
        }
    }
}

ul {
    height: 30rem;
    list-style: none;
    padding: 0;
    border: 1px lightgray solid;
    overflow: hidden;

    input {
        border-style: none none solid;
        box-shadow: none;
    }

    li {
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        border-radius: 4px;
        margin: 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        transition: {
            property: background-color, color, font-weight;
            duration: 0.1s;
            timing-function: linear;
        }

        &:hover {
            background-color: $theme-color-light;
            color: $color-white;
        }

        &:active, &.selected {
            background-color: #337AB7;
            color: $color-white;
            font-weight: bold;
            white-space: normal;
        }

        & + li {
            margin-top: 0;
        }
    }
}





.right-arrow {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.4rem solid transparent;
    border-left: 1.5rem solid #fff;
    position: absolute;
    display: inline;

    &:before {
        content: '';
        border-top: 1.4rem solid transparent;
        border-bottom: 1.3rem solid transparent;
        position: absolute;
        margin-left: -1.5rem;
        margin-top: -1.4rem;
        transition: border-color 0.1s linear;
    }
}

// .subject {
//     color: #fff;
//     overflow: hidden;
//     padding: 0 .5rem;
//     margin-bottom: 1rem;
//     font-weight: bold;
//     &:hover {
//         .right-arrow:before {
//             border-left-color: lighten($brand-primary, 10%);
//         }
//     }
//     .right-arrow:last-of-type {
//         display: none;
//     }
//     .right-arrow:before {
//         border-left: 1.4rem solid $brand-primary;
//     }
// }

.subject-align {
    display: inline-block;
}

.subject-container {
    display: inline-block;
    transition: background-color 0.1s linear;
    margin-left: -10px;
    padding-left: 10px;
    &:last-of-type {
        .cancel-subject {
            visibility: visible;
            margin-left: 10px;
        }
    }
}

.subject-container-text {
    display: inline-block;
    padding: 5px 15px;
}
